// COLORS
// nuetrals
$lightest-bluegrey: #eaeaf8;
$light-bluegrey: #a0a3af;
$mid-bluegrey: #6e7a8a;
$dark-bluegrey: #2b424a;
$darkest-bluegrey: #13333e;
// palette 1 - https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51
$charcoal: #264653;
$persian-green: #2a9d8f;
$saffron: #e9c46a;
$sandy-brown: #f4a261;
$burnt-sienna: #e76f51;
// palette 2 - https://coolors.co/ffbe0b-fb5607-ff006e-8338ec-3a86ff
$amber: #ffbe0b;
$orange-soda: #fb5607;
$hot-pink: #ff006e;
$blue-violet: #8338ec;
$azure: #3a86ff;
$sky: #4cc9f0;
$turquoise: #06d6a0;

// SIZES
// layouts
$spacer: 10px;
$border-radius: 5px;
$max-width: 575.98px;
// game
$grid-size: 32px;

//CONFIG
// config UI
$button-background: $lightest-bluegrey;
$button-border-color: $mid-bluegrey;
$button-border: 1px solid $button-border-color;
$button-text-color: $dark-bluegrey;
$primary-button-background: $persian-green;
$primary-button-color: white;

// config tetronimos
$Z-tetromino-color: $amber;
$L-tetromino-color: $orange-soda;
$I-teromino-color: $hot-pink;
$O-tetromino-color: $blue-violet;
$T-tetromino-color: $azure;
$J-tetromino-color: $sky;
$S-tetromino-color: $turquoise;

// colors for tetronimo filters palette 1
// https://codepen.io/sosuke/pen/Pjoqqp
$Z-tetromino-filter: invert(79%) sepia(22%) saturate(3895%) hue-rotate(352deg)
  brightness(105%) contrast(101%);
$L-tetromino-filter: invert(57%) sepia(88%) saturate(4681%) hue-rotate(353deg)
  brightness(95%) contrast(108%);
$I-tetromino-filter: invert(30%) sepia(92%) saturate(7331%) hue-rotate(326deg)
  brightness(98%) contrast(113%);
$O-tetromino-filter: invert(29%) sepia(50%) saturate(7499%) hue-rotate(257deg)
  brightness(95%) contrast(94%);
$T-tetromino-filter: invert(71%) sepia(78%) saturate(6443%) hue-rotate(203deg)
  brightness(102%) contrast(101%);
$J-tetromino-filter: invert(63%) sepia(87%) saturate(757%) hue-rotate(169deg)
  brightness(102%) contrast(101%);
$S-tetromino-filter: invert(74%) sepia(40%) saturate(6762%) hue-rotate(122deg)
  brightness(103%) contrast(95%);
